html {
  font-family: "Open Sans", Arial,
   "Hiragino Sans GB", "Microsoft YaHei", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
}

.v-hide {
  display: none;
  opacity: 0;
}

.v-show {
  display: block;
  animation: 0.3s show-modal ease-out 1;
}

@keyframes show-modal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.v-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.6;
}

.v-box {
  height: 286px;
  width: 354px;
  background-position: 0 -853px;
  position: fixed;
  margin-left: -177px;
  margin-top: -143px;
  top: 50%;
  left: 50%;
  z-index: 999999;
  background-image: url('bg.png');
}

.v-header {
  position: relative;
  height: 42px;
  line-height: 42px;
  padding-left: 20px;
  font-size: 14px;
  text-align: left;;
}

.v-body {
  margin: 28px auto;
  width: 300px;
  height: 188px;
  background-color: white;
}

.v-closed {
  height: 14px;
  width: 14px;
  background-position: 0 -1139px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 14px;
  background-image: url('bg.png');
}

.v-closed:hover {
  transition: all 1s ease-out;
  transform: rotateZ(360deg);
}

.v-ready {
  font-size: 15px;
  color: #677D8B;
}
