.inputbox {
  position: relative;
  margin: 0;
  width: 210px;
  overflow: hidden;
  cursor: pointer;
}

.inputbox input.calendarDate {
  width: 170px;
  height: 30px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
  padding-left: 35px;
  cursor: pointer;
}

.inputbox i {
  position: absolute;
  left: 8px;
  top: 7px;
  font-size: 20px;
  cursor: pointer;
  z-index: 10;
}

.calendar {
  position: relative;
  width: 630px;
  height: 400px;
  left: -197px;
  top: 50px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, .25);
  animation: show 0.5s ease-out 1;
  transform: translate3d(0, 0, 0);
  transition: all 0.5 ease-out;
}

@keyframes show {
  0% {
    top: -50px;
    opacity: 0;
    /*transform: rotate(3deg);*/
  }

  25% {
    top: -25px;
    opacity: 0.25;
    /*transform: rotate(-3deg);*/
  }

  50% {
    top: 0px;
    opacity: 0.5;
    /*transform: rotate(3deg);*/
  }

  75% {
    top: 25px;
    opacity: 0.75;
    /*transform: rotate(-3deg);*/
  }

  100% {
    top: 50px;
    opacity: 1;
  }
}

.calendar .left {
  float: left;
  width: 35%;
  height: 100%;
  background-color: #009688;
  box-shadow: -10px 0px 20px rgba(0, 0, 0, .25);
  overflow: hidden;
}

.calendar .right {
  display: inline-block;
  width: 65%;
  height: 100%;
  background-color: white;
  box-shadow: 10px 2px 20px rgba(0, 0, 0, .25);
  overflow: hidden;
}

.left>a {
  color: white;
  display: block;
  padding-left: 20px;
  margin-top: 5px;
  transition: all 0.5s ease-out;
}

.left a.show-year {
  margin-top: 15px;
  margin-left: 5px;
  font-size: 20px;
  opacity: 0.8;
  cursor: pointer;
}

.left a.show-year:hover {
  color: black;
}

.left a.show-week {
  margin-top: 10px;
  font-size: 30px;
}

.left a.show-day {
  margin-top: 10px;
  font-size: 40px;
  cursor: pointer;
}

.left a.show-day:hover {
  color: black;
}

.right .controle {
  margin: auto;
  width: 90%;
  height: 30px;
  padding-top: 10px;
}

.left .select-year, .select-month {
  width: 100%;
  height: auto;
  animation: show-year 0.5s ease-out;
}

@keyframes show-year {
  0% {
    width: 0;
    height: 0;
  }

  100% {
    width: 100%;
    height: auto;
  }
}

.left .select-year .year-item, .year-control, .month-item {
  display: inline-block;
  width: 100%;
  height: 22px;
  padding: 5px;
  font-size: 20px;
  color: white;
  opacity: 0.8;
  cursor: pointer;
  text-align: center;
}

.left .select-year .year-item:hover, .year-control:hover{
  color: black;
}

.left .select-month {
  margin-top: 20px;
  animation: show-month 0.5s ease-out;
}

@keyframes show-month {
  0% {
    margin-left: -200px;
  }

  100% {
    margin-left: 0px;
  }
}

.left .select-month .month-item {
  padding-top: 10px;
  height: 40px;
  width: 40%;
  color: white;
  opacity: 0.8;
}


.left .select-month .month-item:hover {
  color: black;
}

.right .controle>i {
  cursor: pointer;
  color: #737373;
  transition: all 0.5s ease-out;
}

.right .controle>i:last-child {
  float: right;
}

.right .controle>i:hover {
  color: #009688;
}

.right .controle .controle-show{
  display: inline-block;
  margin-left: 35%;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  color: black;
}

.right table {
  margin: auto;
  margin-top: 10px;
  width: 100%;
}

.right table.animate {
  animation: show-table 0.5s ease-out;
}

@keyframes show-table {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.right table.left-animate {
  animation: show-left 0.25s ease-out;
}

.right table.right-animate {
  animation: show-right 0.25s ease-out;
}

@keyframes show-left {
  0% {
    margin-left: -300px;
  }

  100% {
    margin-left: 0px;
  }
}

@keyframes show-right {
  0% {
    margin-left: 300px;
  }

  100% {
    margin-left: 0px;
  }
}


.right table tr th,td {
  padding: 0;
  height: 40px;
  text-align: center;
  border-radius: 50px;
}

.right table thead {
  color: #9b9b9b;
}

.right table tbody td {
  font-size: 16px;
  width: 50px;
  font-weight: bold;
}

.right table tbody a {
  display: inline-block;
  padding-top: 10px;
  width: 40px;
  height: 30px;
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.right table tbody a.choose {
  background-color: #009688;
  color: white;
}

.right table tbody a:hover {
  background-color: #009688;
  color: white;
}

.right .calendarDate-footer {
  position: absolute;
  top: 360px;
  left: 460px;
}

.right .calendarDate-footer a {
  float: right;
  margin-left: 35px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #009688;
  cursor: pointer;
}

.right .calendarDate-footer a:hover {
  color: black;
}
