.carousel {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel-show {
  position: relative;
  height: 100%;
}

.carousel-show img {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  opacity: 0.5;
  transition: all 1s ease-out;
}

.carousel-show img.now {
  top: 0;
  left: 0;
  opacity: 1;
  display: block;
}

.carousel-show img.pre {
  top: 0;
  left: -100%;
  display: block;
}

.carousel-show img.next {
  top: 0;
  left: 100%;
  display: block;
}
