body, html {
  width: 100%;
  height: 100%;
  margin:0;
  font-family:"微软雅黑";
  font-size:14px;
}

#l-map {
  height:350px;
  width:100%;
}
#r-result {
  width:100%;
}

.show-demand {
  margin-top: 0;
}
